
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('bootstrapStyles.css');

:root {
    --text-primary: #202124;
    --text-secondary: #5f6368;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

.Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    background-color: #f8fafd;
    overflow: hidden;
}

header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}

.menu-and-logo {
    min-width: 218px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.icons {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.icons:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.icon-big {
    font-size: 20px;
    width: 48px;
    height: 48px;
}

.icon-small {
    font-size: 18px;
    width: 40px;
    height: 40px;
}

.avatar-container {
    padding: 5px;
}

.avatar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.logo {
    height: 40px;
}

.search-bar {
    width: 100%;
    max-width: 720px;
    padding: 6px;
    border-radius: 999px;
    background-color: #e9eef6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar:focus-within {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(65,69,73,.3),0 1px 3px 1px rgba(65,69,73,.15);
}

.search-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--text-primary);
}

.search-input:focus {
    outline: none;
}

.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
}

/* main styling */

main {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.main-left {
    min-width: 256px;
    height: calc(100dvh - 68px);
    padding-right: 8px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    transition: all 0.2s ease-in-out;
}

.Toggle-main-left {
    translate: -100% 0px;
    position: absolute;
    opacity: 0;
}

.main-left::-webkit-scrollbar {
    width: 8px;
}

.main-left::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;
    visibility: hidden;
}

.main-left:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.main-left::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.compose {
    margin: 8px 0px 16px 8px;
    padding: 0px 24px;
    height:56px;
    color: #001d35;
    background-color: #c2e7ff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border-radius: 16px;
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1);
}

.compose i {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.compose:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3),0 4px 8px 3px rgba(60,64,67,.15);
}

.main-left-tabs {
    color: var(--text-primary);
}

.main-left-tabs li {
    padding: 8px 12px 8px 26px;
    font-size: 14px;
    border-radius: 0px 16px 16px 0px;
}

.main-left-tabs li:not(.active):hover {
    background-color: rgba(60, 64, 67, 0.08);
    cursor: pointer;
}

.main-left-tabs li.active {
    background-color: #d3e3fd;
    font-weight: 500;
}

.main-left-tabs li i {
    vertical-align: middle;
    font-size: 16px;
    margin-right: 18px;
}

.main-left-tabs li:not(.imp-tab) span {
    display: none;
}

.main-left-tabs li.active span,
.imp-tab span {
    display: inline;
    float: right;
}

.imp-tab {
    font-weight: 500;
}

.imp-tab span {
    font-weight: 400;
    font-size: 12px;
}

.new-label {
    padding: 8px 8px 12px 26px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;
}

.new-label i {
    color: #505251;
    margin-bottom: 4px;
}

/* main right */

.main-right {
    flex-grow: 1;
    background-color: white;
    margin: 0px 16px 16px 0px;
    border-radius: 16px;
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px 4px 12px;
}

.tools-left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.tools-left *.icon-small,
.tools-right *.icon-small {
    font-size: 14px;
    color: #444746;
    border: none;
}

.tools-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
}

.Mail-count {
    border: none;
    background-color: transparent;
    min-height: 36px;
    padding: 0px 8px;
    color: #5e5e5e;
    font-size: 12px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    cursor: pointer;
}

.Mail-count::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -9;
    background-color: rgba(60, 64, 67, 0.1);
    scale: 0.7;
    opacity: 0;
    transition: all 0.125s ease-out;
}

.Mail-count:hover::before {
    scale: 1;
    opacity: 1;
}

.Mails-container {
    scrollbar-gutter: stable;
    overflow-y: auto;
    height: calc(100dvh - 100px);
}

.Mails-container::-webkit-scrollbar {
    width: 10px;
    border: 1px solid lightgrey;
}

.Mails-container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
}

.Mails-container::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
}

.Mails-container::-webkit-scrollbar-thumb:active {
    background-color: grey;
}

.Categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 256px));
    padding-left: 2px;
}

.Category-tabs {
    height: 56px;
    background-color: white;
    color: var(--text-primary);
    position: relative;
    cursor: pointer;
}

.Category-tabs:has(.Active-tab) {
    color: #0b57d0;
}

.Category-tabs:has(.Active-tab) .Category-tab-badge,
.Category-tabs:has(.Active-tab) .Category-info {
    display: none;
}

.Category-tabs-data {
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 4px;
}

.Category-icon {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1;
}

.Category-label-and-info {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.Category-label {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.Category-tab-badge {
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 0px 4px;
    text-wrap: nowrap;
}

.Promotions-badge {
    background-color: #188038;
}

.Social-badge {
    background-color: #0b57d0;
}

.Updates-badge {
    background-color: #e37400;
}

.Category-info {
    width: 100%;
    font-size: 12px;
    color: var(--text-secondary);
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.Text-exceed::after {
    content: "...";
    position: absolute;
    right: 0px;
    background-color: white;
    z-index: 1;
}

.Active-tab {
    position: absolute;
    bottom: 0px;
    left: 50%;
    translate: -50% 0px;
    width: 80%;
    height: 3px;
    border-radius: 3px 3px 0px 0px;
    background-color: #0b57d0;
}

.Mails {
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.Mail {
    height: 36px;
    padding: 0px 0px 0px 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.Mail:hover {
    box-shadow: inset 1px 0 0 rgb(218,220,224),inset -1px 0 0 rgb(218,220,224),0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
}

.Mail::before {
    content: "\f58e";
    font-family: "FontAwesome";
    position: absolute;
    left: 8px;
    color: #444746;
    opacity: 0;
}

.Mail:hover::before {
    opacity: 0.3;
}

.Mail-left-icons {
    opacity: 0.3;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Mail:hover .Mail-left-icons {
    opacity: 1;
}

.Mail .icon-small {
    width: 34px;
    height: 34px;
    font-size: 15px;
    color: #444746;
}

.Mail-sender {
    width: 100%;
    max-width: 200px;
    padding: 0px 75px 0px 10px;
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
}

.Mail-sender-text {
    overflow: hidden;
    position: relative;
}

.Mail-message {
    text-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 0px;
    flex-grow: 1;
    color: var(--text-secondary);
    font-size: 14px;
}

.Imp-mail-message {
    font-weight: 600;
    color: var(--text-primary);
} 

.Mail-sender .Text-exceed::after {
    content: ".";
}

.Date-and-mail-icons {
    padding-left: 75px;
    padding-right: 16px;
}

.Mail-date {
    font-size: 12px;
    font-weight: 600;
}

.Mail:hover .Date-and-mail-icons {
    padding: 0px 16px 0px 16px;
}

.Mail:hover .Mail-date {
    display: none;
}

.Mail-icons {
    display: none;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.Mail:hover .Mail-icons {
    display: flex;
}

@media screen and (max-width : 992px) {
    .Categories {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .Mail-sender {
        padding-right: 20px;
    }
    .Date-and-mail-icons {
        padding-left: 20px;
    }
}

@media  screen and (max-width : 768px) {
    .main-left {
        position: absolute;
        left: 0px;
        z-index: 1;
    }

    .menu-and-logo {
        min-width: min-content;
    }

    .search-bar {
        display: none;
    }

}

@media screen and (max-width : 410px) {
    header {
        gap: 20px;
    }
    .header-right > div.icons:not(:last-child) {
        display: none;
    }

    .Mail-count {
        display: none;
    }

    .tools-left > div:not(:first-child) {
        display: none;
    }

    .Mail-left-icons > div:not(:first-child) {
        display: none;
    }

    .Mail-sender {
        width: 0px;
        flex-grow: 1;
    }
}