@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background: #3c40c6;
    background-image: url('assets/bodyStars.svg');
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 24px;
    padding: 0px 24px 0px 72px;
}

.side-menu {
    min-height: 100vh;
    background-color: #e9ecf1;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}

.side-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.side-menu ul li,
.side-menu div {
    padding: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 9px;
    background-color: transparent;
}

.side-menu ul li:hover, .side-menu div:hover {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03);
}

.side-menu ul li p, .side-menu div p {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

#active-navItem {
    border-radius: 9px;
    background: url('assets/navIcons/3_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(1) p {
    background: url('assets/navIcons/1.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(1):hover p {
    background: url('assets/navIcons/1_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(2) p {
    background: url('assets/navIcons/2.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(2):hover p {
    background: url('assets/navIcons/2_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(4) p {
    background: url('assets/navIcons/4.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(4):hover p {
    background: url('assets/navIcons/4_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(5) p {
    background: url('assets/navIcons/5.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(5):hover p {
    background: url('assets/navIcons/5_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(6) p {
    background: url('assets/navIcons/6.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(6):hover p {
    background: url('assets/navIcons/6_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(7) p {
    background: url('assets/navIcons/7.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(7):hover p {
    background: url('assets/navIcons/7_active.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(9) p {
    background: url('assets/navIcons/8.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(9):hover p {
    background: url('assets/navIcons/8_active.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 9px;
}

.side-menu ul li:nth-child(10) p {
    background: url('assets/navIcons/9.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(10):hover p {
    background: url('assets/navIcons/9_active.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 9px;
}

.side-menu ul li:nth-child(11) p {
    background: url('assets/navIcons/10.png') no-repeat;
    background-size: 100% 100%;
}

.side-menu ul li:nth-child(11):hover p {
    background: url('assets/navIcons/10_active.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 9px;
}

.side-menu ul hr {
    width: 32px;
    height: 1px;
    background-color: #d3d9e3;
    margin: 4px;
    border: none;
}

.side-menu div p{
    background: url('assets/navIcons/panda.gif') no-repeat;
    background-size: 100% 100%;
}

.main-content {
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin: 0px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 105px;
    color: white;
}

header div a {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

header ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    font-size: 17px;
    font-weight: 600;
}

header ul li {
    cursor: pointer;
    position: relative;
}

header ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    height: 2px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

header ul li:hover::after {
    scale: 1 1;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 56px;
    gap: 40px;
    padding: 12px;
    background-color: #0c2461;
    color: white;
    font-weight: 600;
}

.cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: auto 0px;
    padding: 30px 0px;
    gap: 40px;
    flex-wrap: wrap;
}
.card {
    flex-grow: 1;
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
}

.card div:first-child {
    aspect-ratio: 16/9;
    max-height: auto;
    min-height: 150px;
    border-radius: 4px;
    overflow: hidden;
}

.card div:first-child img {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    /* object-position: center; */
}

.card div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 4px;
    gap: 16px;
}

.card div:nth-child(2) span {
    font-size: 17px;
    line-height: 17px;
    font-weight: 600;
}

.card div:last-child span:nth-child(2) {
    font-weight: 900;
}

@media screen and (max-width : 425px) {
    header ul {
        display: none;
    }

    .card div:first-child {
        min-height: 80px;
    }
}

@media screen and (max-width : 530px) {
    .features {
        justify-content: start;
    }
}